body {
  background: #f5f5f5;
}

a {
  text-decoration: none;
}

.App {
  
}

.primary-text {
  color: #E63946 !important;
}

.secondary-text {
  color: #467444 !important;
}

.tertiary-text {
  color: #F4B701 !important;
}